{% extends 'homepage/base.html' %}
{% block title %}
Randevu
{% endblock %}

{%block content%}
<h4>Randevu</h4>
<div style="text-align:center;">
<input type="submit" id='opp' value="Geri" onclick="previous()">
<input type="submit" id='opp' value="İleri" onclick="next()">
</div>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <table>
        <thead>
          <tr>
            <th>
              <span class="long" id="monthl">Mart</span>
              <span class="short" id="months">Mart</span>
            </th>
            <th>
              <span class="day">1</span>
              <span class="long">Pazartesi</span>
              <span class="short">Pts</span>
            </th>
            <th>
              <span class="day">2</span>
              <span class="long">Salı</span>
              <span class="short">Sal</span>
            </th>
            <th>
              <span class="day">3</span>
              <span class="long">Çarşamba</span>
              <span class="short">Çrş</span>
            </th>
            <th>
              <span class="day">4</span>
              <span class="long">Perşembe</span>
              <span class="short">Prş</span>
            </th>
            <th>
              <span class="day">5</span>
              <span class="long">Cuma</span>
              <span class="short">Cum</span>
            </th>
            <th>
              <span class="day">6</span>
              <span class="long">Cumartesi</span>
              <span class="short">Cts</span>
            </th>
            <th>
              <span class="day">7</span>
              <span class="long">Pazar</span>
              <span class="short">Pzr</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id="morning">
            <td class="hour" rowspan="1"><span>9:00</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>


          
          <tr id="noon">
            <td class="hour" rowspan="1"><span>14:00</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          
          <tr id="evening">
            <td class="hour" rowspan="1"><span>19:00</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          
        </tbody>
      </table>

{%endblock%}

{% block script %}    

{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="{% static 'js/appoinment.js' %}"></script>

{%endblock%}

