{% extends 'homepage/base.html' %}
{% block title %}
Appoinment
{% endblock %}

{%block content%}
<h4>Randevu</h4>
<div style="text-align:center;">
<input type="submit" id='opp' value="Previous" onclick="previous()">
<input type="submit" id='opp' value="Next" onclick="next()">
</div>
Appoinment
{% for a in appoinment %}
<p> {{a.date}} - {{a.time}}</p>
{% endfor %}
OffDay
{% for b in offday %}
<p> {{b.date}} - {{b.time}}</p>
{% endfor %}


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <table>
        <thead>
          <tr>
            <th>
              <span class="long" id="monthl">Mart</span>
              <span class="short" id="months">Mart</span>
            </th>
            <th>
              <span class="day">1</span>
              <span class="long">Monday</span>
              <span class="short">Mon</span>
            </th>
            <th>
              <span class="day">2</span>
              <span class="long">Tuesday</span>
              <span class="short">Tue</span>
            </th>
            <th>
              <span class="day">3</span>
              <span class="long">Wendsday</span>
              <span class="short">We</span>
            </th>
            <th>
              <span class="day">4</span>
              <span class="long">Thursday</span>
              <span class="short">Thur</span>
            </th>
            <th>
              <span class="day">5</span>
              <span class="long">Friday</span>
              <span class="short">Fri</span>
            </th>
            <th>
              <span class="day">6</span>
              <span class="long">Saturday</span>
              <span class="short">Sat</span>
            </th>
            <th>
              <span class="day">7</span>
              <span class="long">Sunday</span>
              <span class="short">Sun</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="hour" rowspan="1"><span>9:00</span></td>
            <td></td>
            <td></td>
            <td>dolu</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>


          
          <tr>
            <td class="hour" rowspan="1"><span>14:00</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>boş</td>
            <td></td>
            <td></td>
          </tr>
          
          <tr>
            <td class="hour" rowspan="1"><span>19:00</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>dolu</td>
            <td></td>
          </tr>

          
        </tbody>
      </table>

{%endblock%}

{% block script %} 
<script>
    var current = -1
    var month = 0
    var data = JSON.parse("{{data|escapejs}}");

    const monthlist = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    var d = new Date();

    function next(){
        current += 1
        
        if (current == data[month].length) {
            month += 1
            current = 0
            if (month == data.length){
                month = 0
            }

        }
        
        change_values()
      
    }
    function previous(){
        current -= 1
        
        if (current <= -1) {
            month -= 1
            if (month <= -1){
                month = data.length-1
                current = data[month].length-1
            }
            else{
            current = data[month].length-1
            }
        }

        change_values()
      
    }

    function change_values(){
        // let's just print the data in the console for now
        var d = new Date(data[month][current][3])
        var monthtext = monthlist[d.getMonth()];
        document.getElementById("monthl").innerHTML = monthtext + " "+d.getFullYear();
        document.getElementById("months").innerHTML = monthtext + " "+d.getFullYear();


        var monhml = `<h3>${monthtext}</h3>`

        var dayslist = document.getElementsByClassName("day");

        data[month][current].forEach(myFunction);

        function myFunction(value, index, arr) {
        var current_date = new Date(value)
        dayslist[index].innerHTML = current_date.getDate()	
        }
    }
    
  </script>
  {%endblock%}

