table {
    font-family: sans-serif;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
}
table thead tr th {
    background: #626E7E;
    color: #d1d5db;
    padding: 0.5em;
    overflow: hidden;
}
table thead tr th:first-child {
    border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
    border-radius: 0 3px 0 0;
}
table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 5px;
    line-height: 1.8;
}
table thead tr th .day.active {
    background: #d1d5db;
    color: #626E7E;
}
table thead tr th .short {
    display: none;
}
table thead tr th i {
    vertical-align: middle;
    font-size: 2em;
}
table tbody tr {
    background: #d1d5db;
}
table tbody tr:nth-child(odd) {
    background: #c8cdd4;
}
table tbody tr:nth-child(n+0) td {
    border-bottom: 1px solid #626E7E;
}
table tbody tr td {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #626E7E;
    position: relative;
    height: 100px;
    cursor: pointer;
}
table tbody tr td:last-child {
    border-right: 1px solid #626E7E;
}
table tbody tr td.hour {
    font-size: 2em;
    padding: 0;
    color: #626E7E;
    background: #fff;
    border-bottom: 1px solid #626E7E;
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
}
table tbody tr td.hour span {
    display: block;
}
@media (max-width: 60em) {
    table thead tr th .long {
        display: none;
   }
    table thead tr th .short {
        display: block;
   }
    table tbody tr td.hour span {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
   }
}
@media (max-width: 27em) {
    table thead tr th {
        font-size: 65%;
   }
    table thead tr th .day {
        display: block;
        font-size: 1.2em;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 auto 5px;
        padding: 5px;
   }
    table thead tr th .day.active {
        background: #d1d5db;
        color: #626E7E;
   }
    table tbody tr td.hour {
        font-size: 1.7em;
   }
    table tbody tr td.hour span {
        transform: translateY(16px) rotate(270deg);
        -webkit-transform: translateY(16px) rotate(270deg);
        -moz-transform: translateY(16px) rotate(270deg);
   }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.modal-content{
  background-color:#1d1f1d;
}
